/* General Styling for building the website */

:root::-webkit-scrollbar {
	display: none;
}

* {
	font-family: 'Courier New', Courier, monospace;
	color:white;
	margin:0;

	position: relative;

	user-select: none;

	/* border: 1px solid red; */
}
html,body {
	height:100%;
	min-height:100% !important;
}
#pagewrapper {
	position:absolute;
	left:0;
	top:0;

	/* display:block; */

	width:100%;
	min-height:100%;

	background-color: black;
}

/* Defaults */
img {
	vertical-align: middle;

	user-select: none;
}

a.link {
	color:white;
	font-weight: 900;
	text-decoration: none;

	display: inline-block;
	position: relative;

	cursor:pointer;
}
a.link::before {
	content: '';
	position: absolute;
	
	width: 100%;
	transform: scaleX(0);
	height: 4px;
	bottom: 0;
	left: 0;
	
	background-color: white;
	border-radius:2px;

	transform-origin: bottom center;
	transition: transform 0.1s ease-in-out;
}
a.link:hover::before {
	transform: scaleX(1);
	transform-origin: bottom center;
}
a.link.external::after {
	content:'';

	background-image:url(./img/external.svg);
	background-size:100% 100%;

	width:1em;
	height:1em;
	margin-left:0.2em;

	display:inline-flex;
}

nav {
	position:relative;
	
	text-align:center;
	font-size:25px;

	padding:0px;
	
	z-index: 1000;

	background-color: black;;

	width: 100%;
}
nav a {
	margin:50px;
}

h1 {
	font-size: 1in;
	font-weight: 900;
	text-align: center;
}


h3 {
	text-align: left;
	font-size:25px;
	margin-bottom: 10px;

	font-weight:500;
}

li {
	text-align: left;
	font-size:20px;
}

/* Other Elements */
img.back {
	position:fixed;
	left:0;
	top:0;

	width:100%;

	z-index: 0;

}
#pastBack1 {
	position:absolute;
	top:var(--back1Offset);
}

div.section {
	/* border: 1px solid red; */

	background-color: black;
	padding-top:1.75in;
	padding-bottom:1.75in;

	vertical-align: top;

	overflow-x:hidden;
}
div.section p {
	/* border: 2px solid red; */
	position: static;

	max-width:75%;
	text-align: left;

	display: inline-block;
}
div.section img {
	height:3in;
}
.left, .right {
	/* border: 1px solid red; */

	width: 39.5%;
	padding-left: 5%;
	padding-right: 5%;
	height:100%;

	vertical-align: middle;
	text-align: center;


	display: inline-block;

	overflow: visible;
}

.fullwidth {
	display:inline-block;
	width:100%;
}